html, body, .fullBox, #map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#zoomPan {
	width: 32px;
	height: 32px;
	background-image: url(icon/zoomPan.ico)
}

#zoomIn {
	width: 32px;
	height: 32px;
	background-image: url(icon/zoomIn.bmp)
}

#zoomOut {
	width: 32px;
	height: 32px;
	background-image: url(icon/zoomOut.bmp)
}

#zoomHome {
	width: 32px;
	height: 32px;
	background-image: url(icon/zoomHome.bmp)
}

.mapToolDiv {
	/* position:absolute; */
	background-color: #f0f0ff;
	z-index: 101;
	top: 0px;
	/* right:360px; */
	display: flex;
	/* width:400px; */
	border: 1px solid;
	border-radius: 10px;
	flex-direction: row;
}
.mapToolItem {
	display: inline-block
}
.select{
	width:150px
}
.myTabItem{
	font-size: 20px;
}
.inline-block{
	display: inline-block;
}
.border{
	border:1px solid #95B8E7
}
.margin{
	margin:0px
}
.padding{
	padding:10px
}